h1, h2, p, label, a {
	font-family: sans-serif;
	color: #FFFFFF;
}

h1 {
	font-size: 50px;
}

input {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.backgroundMain {
	background-image: url("img/pasta.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.topnav {
	background-color: #302e50;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 1% 1.2%;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #FFFFFF;
	color: #302E50;
}

.topnav a.active {
	background-color: #C8CB77;
	color: #FFFFFF;
}

.logo {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.center {
	display: block;
	text-align: center;
}

.error {
	border-style: solid;
	border-color: #FF0000;
	background-color: #FFFFFF;
}

.error p {
	color: #FF0000;
}

.success {
	border-style: solid;
	border-color: #007700;
	background-color: #FFFFFF;
}

.success p {
	color: #007700;
}